:root{
    --primary:#101417;
    --contrast:#B91F33;
    --promo:#E0E34C;
    --letter:#E1E1E1;
}

*{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

html{
    scroll-behavior: smooth; /*faz a navegaçao na propria pagina ficar mais suave*/
}

body{
    margin:0;
    background: var(--primary);
}

img{
display: block;/*usado para tirar os espaços das imagens */
}



h2{
    color: var(--letter);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: 57px;  
}

p{
    color: var(--letter);
    font-size: 18px;
    line-height: 120%;  
}

.header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:auto;
    padding:16px 0;
    position:fixed;
    z-index: 100;
    backdrop-filter: blur(3px);
}

.container{
    
    width: 1140px;
    margin:0 auto;
    
}

.header .container{ /* acessando o container dentro do header */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color:var(--letter);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 110px;
}

.menu a:hover{
    color: var(--contrast);
}

.hero-section{
    height: 625px;
    background-image:url(img/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-section .container{
position: relative;
top:53px;
}

.hero-section h1{
color: var(--letter);
font-size: 96px;
font-weight: bold;
margin: 0;
max-width: 946px;
line-height: 90%;
margin-bottom: 21px;
}

.hero-section p{
color:var(--letter);
font-size: 24px;
max-width: 644px;
margin-bottom: 21px;
line-height: 120%;
}

.hero-section a{
background-color:var(--contrast);
text-decoration: none;
color: var(--letter);
font-size: 18px;
border-radius: 3px;
padding: 13px 44px 9px 44px;
display: inline-block;
}

.nossa-academia{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    column-gap: 24px;
    
}

.nossa-academia p{
    color: var(--letter);
    font-size: 18px;
    line-height: 25px;  
}


.faca-parte{
    background-color: var(--letter);
    padding: 37px 0;
}

.faca-parte .container{
    /*é necessario colocar o postion relative no pai para o absolut usar ele como referencia, caso contrario 
    o body sera a referencia. Logo o body se adaptara ao tamanho da tela junto com a imagem*/
    display: flex;
    position: relative;/*quando voce usa o position acaba anulando o justify content*/
}

.faca-parte h2{
color:#222222;
}

.faca-parte p{
color:#666666;
font-size: 18px;
line-height: 22px;
font-weight: 400px;
margin-bottom: 0;
max-width: 849px;
}

.atleta-img{
    position: absolute;
    bottom: -37px;/*isso por conta do valor do padding*/
    right: 0;
}

/*position: relative; 
posiçao relativa a o proprio elemento sem depender de um elemento pai

position: absolute; 
posiçao relativa a um elemento pai, caso o pai nao exista o body sera a referencia

position: fixed;
posiçao fixa em relaçao ao body;

*/

.planos{
    background-image: url(img/bg-planos.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}

.flex-card{
    display: flex;
    column-gap: 24px;
    margin-top: 30px;
}

.card-plano{
    border: solid 1px #E1E1E1;
    border-radius: 3px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

h3{
    color: var(--letter);
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

span{
    color: var(--letter);
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

ul{
    text-align: left;
    padding: 0;
    list-style-position: inside;/*faz que o marcador da lista fique dentro da linha e nao fora como e de padrao*/
    color: var(--letter);
    font-size: 18px;
    line-height: 120%;
}

.destaque{
    border: solid 3px var(--contrast);
}

.destaque span{
    color: var(--promo);
}

.btn{
    border-radius: 3px;
    display: inline-block;
    color: var(--letter);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 45px 7px 45px;
    border: 2px solid transparent;
    transition: 0.3s;
    background-color: transparent; /*isso e pq o botao tem fundo branco e o <a> naturalmente e transparente*/
    cursor: pointer;
}

.btn-outline{
    border: solid 2px var(--contrast);
}

.btn-fill{
    background-color: var(--contrast);
}

.btn-block{
    display:block;
}

.btn:hover{
    border: 2px solid var(--letter);
    background-color: black;
}

.card-plano:hover{
    background-color:rgba(0, 0, 0, 0.5) ;
    transform: scale(1.05);/*fazer o quadrado subir*/
    transition: 0.3s; /*velocidade em que o hover e as coisas sao ativada e modificadas*/
}

.fale-conosco{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.conteudo-form{
    width: 558px;

}

.fale-conosco input, .conteudo-form textarea{
    display:block;
    width: 100%;
    background-color: transparent;
    color: var(--letter);
    border-radius: 3px;
    border:1px solid;
    margin-bottom: 10px ;
    padding: 11px 0 7px 10px;
    font-size: 18px;
    /*Quando coloca a largura de 100% ela ainda sofre alteraçao do padding e do border*/
    box-sizing: border-box;
    /*o box sizing faz com que o padding e a borda nao modifiquem as dimensoes do elemento*/
}

.conteudo-form textarea{
    height: 140px;
}


::placeholder{
    color: #666666;
}

.rodape{
    background-color: var(--contrast);
    padding: 15px 194px 10px 194px;
    text-align: center;
    margin-bottom: 30px;
}

.midias{
    display: flex;
    justify-content: center;
    margin-bottom: 103px;
    column-gap: 10px;
}

#nossa-academia{
    scroll-margin-top: 150px;
    /* esse comando e para quando for usar navegar para um pouco antes */
}

#planos{
    scroll-margin-top: 30px;
}

@media (max-width: 1140px){
    .container{
        width: 100%; /*o container nao e naturalmente 100% pois poderia ficar menor do que deveria, ele sempre se adapta ao conteudo*/
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .conteudo-faca-parte{
        width: calc(100% - 195px);
    }

    .fale-conosco{
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }


    .conteudo-form, .map, iframe{
      width: 100%;
    }
}

@media (max-width:950px){
    .menu{
         display: none; 
        height: 100vh;
        width: 75%;
        background-color: var(--contrast);
        position: fixed;
        left: 0;
        top: 0;    
    }
    
    .menu a {
        display: block;
        margin: 0;
        padding: 40px 20px;
        text-align: center;
    }

    .menu a:hover{
        background-color: var(--primary);
        color: var(--letter);
    }

    .bar{
        width: 40px;
        height: 3px;
        margin-bottom: 3px;
        background-color: white;
    }

    .hero-section h1{  
        font-size: 36px;    
    }
        
    .hero-section p{
        font-size: 20px;
    }

    .nossa-academia{
        /*align items funciona na vertical, justify content funciona na horizontal*/
        flex-direction: column;/*alterando os eixos (justify content e aling items se inverte) logo se trocar a direçao deve trocar um pelo outro*/
        row-gap: 24px;
    }

    .imagem-aluno img{
        max-width: 100%;
    }

    .flex-card{
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }

    .card-plano{
        max-width: 400px;
    }

    h2{
        font-size: 32px;
    }

    h3{
        font-size: 24px;
    }

    .rodape{
        padding: 15px 15px 10px 15px;
    }
    

    @media (max-width:560px){

        .atleta-img{
            display: none;
        }

        .conteudo-faca-parte{
            width: 100%;
        }
    }
}
